page{
    margin: 0;
    padding: 0;
}
.slide-image{
    width:100%;
}
.list{
    display: flex;
    justify-content: space-between;
    padding: 0 20rpx;
}
.imgList image{
    width:230rpx;
    height:200rpx;
   
}
